*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header, .footer, .headerGame{
    width: 100%;
    height: 100px;
    background-color: #A4BB1A;
}

.main, .mainGame{
    width: 100%;
    height: 600px;
    background-color: #DDDDE2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btnPlay{
    width: 250px;
    height: 60px;
    background-color: #A4BB1A;
    margin: 20px;
}
.btnRules{
    width: 250px;
    height: 60px;
    background-color: #869a15;
}

